<div class="mt-12 mb-36 max-w-6xl mx-auto px-4 lg:px-8">
  <h1 id="menu" class="text-2xl font-bold mb-12 text-gray-700 scroll-mt-6">
    Menu
  </h1>
  <div class="space-y-20">
    <!-- Styled Menu -->
    <app-demo-container
      name="Styled"
      [htmlSource]="formattedSources.styledMenuHtml"
      [typescriptSource]="formattedSources.styledMenuTypescript"
    >
      <app-styled-menu></app-styled-menu>
    </app-demo-container>

    <!-- Styled Menu using angular cdk overlay: https://material.angular.io/cdk/overlay/overview -->
    <app-demo-container
      name="Styled using Angular CDK Overlay"
      [htmlSource]="formattedSources.styledMenuCdkHtml"
      [typescriptSource]="formattedSources.styledMenuCdkTypescript"
    >
      <app-styled-menu-cdk></app-styled-menu-cdk>
    </app-demo-container>

    <!-- Unstyled Menu -->
    <app-demo-container
      name="Minimal Styles"
      [htmlSource]="formattedSources.unstyledMenuHtml"
      [typescriptSource]="formattedSources.unstyledMenuTypescript"
    >
      <app-unstyled-menu></app-unstyled-menu>
    </app-demo-container>
  </div>

  <h1
    id="listbox"
    class="text-2xl font-bold mb-8 text-gray-700 mt-28 scroll-mt-12"
  >
    Select (Listbox)
    <p class="text-gray-400 text-base font-normal">Draft</p>
  </h1>

  <div class="space-y-20">
    <!-- Styled Select -->
    <app-demo-container
      name="Styled"
      [htmlSource]="formattedSources.styledSelectHtml"
      [typescriptSource]="formattedSources.styledSelectTypescript"
    >
      <app-styled-select></app-styled-select>
    </app-demo-container>

    <!-- Unstyled Select -->
    <app-demo-container
      name="Minimal Styles"
      [htmlSource]="formattedSources.unstyledSelectHtml"
      [typescriptSource]="formattedSources.unstyledSelectTypescript"
    >
      <app-unstyled-select></app-unstyled-select>
    </app-demo-container>
  </div>

  <h1
    id="transition"
    class="text-2xl font-bold mb-8 text-gray-700 mt-28 scroll-mt-12"
  >
    Transition
  </h1>

  <div>
    <app-demo-container
      name="Simple"
      [htmlSource]="formattedSources.transitionHtml"
      [typescriptSource]="formattedSources.transitionTypescript"
    >
      <app-transition></app-transition>
    </app-demo-container>
  </div>

  <h1
    id="transition2"
    class="text-2xl font-bold mb-8 text-gray-700 mt-28 scroll-mt-12"
  >
    Transition 2
  </h1>

  <div>
    <app-demo-container
      name="Simple"
      [htmlSource]="formattedSources.transitionHtml"
      [typescriptSource]="formattedSources.transitionTypescript"
      ><app-transition-2></app-transition-2
    ></app-demo-container>
  </div>
</div>
